### Debugging

In [ ]:
import streamlit as st
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import random
import os

#### Check valeurs radar chart

In [58]:
data = pd.read_csv("C:/Users/angel/Downloads/analyse_lineups_azad/lineups_rentabilite.csv")
df = data[["Lineup", 
           "Equipe", 
           "Rentabilite_possessions_equipe",
           'centile_Rentabilite_possessions_equipe',  
           "Rentabilite_temps_equipe",
            'centile_Rentabilite_temps_equipe',
           "True_Shooting_equipe_%",
           'centile_True_Shooting_equipe_%',
           "Rentabilite_possessions_opp", 
            'centile_Rentabilite_possessions_opp',
           "Rentabilite_temps_opp",
            'centile_Rentabilite_temps_opp', 
           "True_Shooting_%_opp",
           'centile_True_Shooting_%_opp'
           ]]

stat_rename = {
    "Rentabilite_possessions_equipe": "Points par poss. (offense)",
    "Rentabilite_temps_equipe": "Poss par match (offense)",
    "True_Shooting_equipe_%": "TS% (offense)",
    "Rentabilite_possessions_opp": "Points par poss. (defense)",
    "Rentabilite_temps_opp": "Poss par match (defense)",
    "True_Shooting_%_opp": "TS% (defense)",
    "centile_Rentabilite_possessions_equipe": "centile_Points par poss. (offense)",
    "centile_Rentabilite_temps_equipe": "centile_Poss par match (offense)",
    "centile_True_Shooting_equipe_%": "centile_TS% (offense)",
    "centile_Rentabilite_possessions_opp": "centile_Points par poss. (defense)",
    "centile_Rentabilite_temps_opp": "centile_Poss par match (defense)",
    "centile_True_Shooting_%_opp": "centile_TS% (defense)"
}

df.rename(columns=stat_rename, inplace=True)

#Lineups à check : 
df.set_index('Lineup', inplace=True)
df.loc[['12 T. Hudgins, 34 D. DiLeo, 15 W. Yeguete, 93 N. Penda, 9 L. Delaunay', '3 M. Salash, 8 J. Usher, 34 K. Kokila, 5 H. Benitez, 13 X. Castaneda']]

C:\Users\angel\AppData\Local\Temp\ipykernel_2304\1430521497.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=stat_rename, inplace=True)

,Equipe,Points par poss. (offense),centile_Points par poss. (offense),Poss par match (offense),centile_Poss par match (offense),TS% (offense),centile_TS% (offense),Points par poss. (defense),centile_Points par poss. (defense),Poss par match (defense),centile_Poss par match (defense),TS% (defense),centile_TS% (defense)
Lineup,,,,,,,,,,,,,
"12 T. Hudgins, 34 D. DiLeo, 15 W. Yeguete, 93 N. Penda, 9 L. Delaunay",Le Mans,86.666667,50,105.830475,86,55.084746,44,100.000000,22,96.423322,37,66.818774,21
"3 M. Salash, 8 J. Usher, 34 K. Kokila, 5 H. Benitez, 13 X. Castaneda",JL Bourg-en-Bresse,73.142857,27,110.497238,91,51.813472,32,82.432432,57,93.449092,53,56.045571,57

#### check erreurs après renommage des colonnes

-> colonnes manquantes à cause de la fonction calculate_matchup

*(il fallait renommer "True_Shooting_equipe_%" en "True_Shooting_%_equipe" car la fonction calculate_matchup utilise un replace)*

In [ ]:
data = pd.read_csv("C:/Users/angel/Downloads/analyse_lineups_azad/lineups_rentabilite_1301_clean.csv")


# Stats 
offensive_stats = ["Rentabilite_possessions_equipe", "Rentabilite_temps_equipe", "True_Shooting_%_equipe"]
defensive_stats = ["Rentabilite_possessions_opp", "Rentabilite_temps_opp", "True_Shooting_%_opp"]
all_stats = offensive_stats + defensive_stats

stat_rename = {
    "Rentabilite_possessions_equipe": "Points par poss. (offense)",
    "Rentabilite_temps_equipe": "Poss par match (offense)",
    "True_Shooting_%_equipe": "TS% (offense)",
    "Rentabilite_possessions_opp": "Points par poss. (defense)",
    "Rentabilite_temps_opp": "Poss par match (defense)",
    "True_Shooting_%_opp": "TS% (defense)"
}

def calculate_matchup(team_lineups, opponent_lineups):
    # Vérification des colonnes nécessaires dans `team_lineups`
    missing_team_stats = [stat for stat in all_stats if stat not in team_lineups.columns]
    # Vérification des colonnes nécessaires dans `opponent_lineups`
    missing_opponent_stats = [stat.replace("equipe", "opp") for stat in offensive_stats if stat.replace("equipe", "opp") not in opponent_lineups.columns]
    missing_opponent_stats += [stat.replace("opp", "equipe") for stat in defensive_stats if stat.replace("opp", "equipe") not in opponent_lineups.columns]

    # Regroupe les colonnes manquantes
    missing_stats = missing_team_stats + missing_opponent_stats

    # Si des colonnes sont manquantes, lève une erreur
    if missing_stats:
        print(f"Colonnes manquantes : {missing_stats}")
        raise ValueError(f"Colonnes manquantes dans les données : {missing_stats}")

    # Calculs des matchups
    results = []
    for _, lineup in team_lineups.iterrows():
        lineup_id = f"{lineup['Lineup']} ({lineup['Plus/Minus']})"  # Identifiant combiné
        row = {"Lineup": lineup_id}

        for stat in all_stats:
            if stat in offensive_stats:
                opp_stat = stat.replace("equipe", "opp")
                opponent_stat_mean = opponent_lineups[opp_stat].mean()
                row[stat] = lineup[stat] - opponent_stat_mean
            else:
                opp_stat = stat.replace("opp", "equipe")
                opponent_stat_mean = opponent_lineups[opp_stat].mean()
                row[stat] = lineup[stat] - opponent_stat_mean

        results.append(row)
    return pd.DataFrame(results)


# Sélectionner les données des équipes (remplace par des noms valides de ton dataset)
team_name = "Le Mans"  # Remplace par une équipe valide
opponent_name = "JL Bourg-en-Bresse"  # Remplace par une équipe valide

team_data = data[data["Equipe"] == team_name]
opponent_data = data[data["Equipe"] == opponent_name]

# Test de la fonction
try:
    print("Validation des colonnes et calcul des matchups...")
    result = calculate_matchup(team_data, opponent_data)
    print("Validation réussie. Voici un aperçu des résultats :")
    print(result.head())
except ValueError as e:
    print("Erreur détectée :", e)

Validation des colonnes et calcul des matchups...
Validation réussie. Voici un aperçu des résultats :
                                              Lineup  \
0  12 T. Hudgins, 15 W. Yeguete, 44 W. Narace, 93...
1  12 T. Hudgins, 34 D. DiLeo, 15 W. Yeguete, 93 ...
2  34 D. DiLeo, 35 T. Thomas, 93 N. Penda, 2 T. B...
3  12 T. Hudgins, 34 D. DiLeo, 15 W. Yeguete, 44 ...
4  34 D. DiLeo, 35 T. Thomas, 93 N. Penda, 2 T. B...

   Rentabilite_possessions_equipe  Rentabilite_temps_equipe  \
0                      -36.716806                  0.936519
1                       -2.431092                  9.516632
2                      -14.521487                  6.220552
3                       20.706163                  0.216125
4                       29.506893                 -5.787527

   True_Shooting_%_equipe  Rentabilite_possessions_opp  Rentabilite_temps_opp  \
0              -21.628012                     1.731667             -24.373423
1               -5.689173                    13.325870              -7.834327
2               -8.492550                    24.234961              -8.674738
3               14.820033                    10.548092             -36.118848
4               18.714859                    15.598597             -11.626070

   True_Shooting_%_opp
0             1.237057
1             8.717310
2             8.784500
3             4.487949
4             3.508612

In [15]:
print(data.columns.tolist())

['id_lineups', 'Lineup', 'Plus/Minus', 'Minutes', 'Possessions Equipe', 'Points Equipe', 'Field goals attempted Equipe', 'Field goals made Equipe', '2-pt field goals attempted Equipe', '2-pt field goals made Equipe', '2-pt field goals, % Equipe', 'centile_2-pt field goals, % Equipe', '3-pt field goals attempted Equipe', '3-pt field goals made Equipe', '3-pt field goals, % Equipe', 'centile_3-pt field goals, % Equipe', 'Free throws attempted Equipe', 'Free throws made Equipe', 'Free throws, % Equipe', 'centile_Free throws, % Equipe', 'Rebounds Equipe', 'Offensive rebounds Equipe', 'Defensive rebounds Equipe', 'Assists Equipe', 'Steals Equipe', 'Turnovers Equipe', 'Fouls Equipe', 'Possessions Opposant', 'Points Opposant', 'Field goals attempted Opposant', 'Field goals made Opposant', '2-pt field goals attempted Opposant', '2-pt field goals made Opposant', '2-pt field goals, % Opposant', 'centile_2-pt field goals, % Opposant', '3-pt field goals attempted Opposant', '3-pt field goals made Opposant', '3-pt field goals, % Opposant', 'centile_3-pt field goals, % Opposant', 'Free throws attempted Opposant', 'Free throws made Opposant', 'Free throws, % Opposant', 'centile_Free throws, % Opposant', 'Rebounds Opposant', 'Offensive rebounds Opposant', 'Defensive rebounds Opposant', 'Assists Opposant', 'Steals Opposant', 'Turnovers Opposant', 'Fouls Opposant', 'Equipe', 'Championnat', 'Player_1_name', 'Player_2_name', 'Player_3_name', 'Player_4_name', 'Player_5_name', 'Player_1_id', 'Player_2_id', 'Player_3_id', 'Player_4_id', 'Player_5_id', 'Secondes', 'centile_Secondes', 'Rentabilite_possessions_equipe', 'centile_Rentabilite_possessions_equipe', 'Rentabilite_possessions_opp', 'centile_Rentabilite_possessions_opp', 'Differentiel_rentabilite_possessions', 'centile_Differentiel_rentabilite_possessions', 'Rentabilite_temps_equipe', 'centile_Rentabilite_temps_equipe', 'Rentabilite_temps_opp', 'centile_Rentabilite_temps_opp', 'Differentiel_rentabilite_temps', 'centile_Differentiel_rentabilite_temps', 'True_Shooting_equipe_%', 'centile_True_Shooting_equipe_%', 'True_Shooting_%_opp', 'centile_True_Shooting_%_opp', 'Differentiel_True_Shooting_%', 'centile_Differentiel_True_Shooting_%', 'Pts_Tirs_Tentes_equipe', 'centile_Pts_Tirs_Tentes_equipe', 'Pts_Tirs_Tentes_opp', 'centile_Pts_Tirs_Tentes_opp', 'Differentiel_Pts_Tirs_Tentes', 'centile_Differentiel_Pts_Tirs_Tentes', 'Color']

In [17]:
#'True_Shooting_equipe_%', 'centile_True_Shooting_equipe_%', 'True_Shooting_%_opp', 'centile_True_Shooting_%_opp'

data.rename(columns={
    "True_Shooting_equipe_%": "True_Shooting_%_equipe",
    "centile_True_Shooting_equipe_%": "centile_True_Shooting_%_equipe"
}, inplace=True)
print(data.columns.tolist())

['id_lineups', 'Lineup', 'Plus/Minus', 'Minutes', 'Possessions Equipe', 'Points Equipe', 'Field goals attempted Equipe', 'Field goals made Equipe', '2-pt field goals attempted Equipe', '2-pt field goals made Equipe', '2-pt field goals, % Equipe', 'centile_2-pt field goals, % Equipe', '3-pt field goals attempted Equipe', '3-pt field goals made Equipe', '3-pt field goals, % Equipe', 'centile_3-pt field goals, % Equipe', 'Free throws attempted Equipe', 'Free throws made Equipe', 'Free throws, % Equipe', 'centile_Free throws, % Equipe', 'Rebounds Equipe', 'Offensive rebounds Equipe', 'Defensive rebounds Equipe', 'Assists Equipe', 'Steals Equipe', 'Turnovers Equipe', 'Fouls Equipe', 'Possessions Opposant', 'Points Opposant', 'Field goals attempted Opposant', 'Field goals made Opposant', '2-pt field goals attempted Opposant', '2-pt field goals made Opposant', '2-pt field goals, % Opposant', 'centile_2-pt field goals, % Opposant', '3-pt field goals attempted Opposant', '3-pt field goals made Opposant', '3-pt field goals, % Opposant', 'centile_3-pt field goals, % Opposant', 'Free throws attempted Opposant', 'Free throws made Opposant', 'Free throws, % Opposant', 'centile_Free throws, % Opposant', 'Rebounds Opposant', 'Offensive rebounds Opposant', 'Defensive rebounds Opposant', 'Assists Opposant', 'Steals Opposant', 'Turnovers Opposant', 'Fouls Opposant', 'Equipe', 'Championnat', 'Player_1_name', 'Player_2_name', 'Player_3_name', 'Player_4_name', 'Player_5_name', 'Player_1_id', 'Player_2_id', 'Player_3_id', 'Player_4_id', 'Player_5_id', 'Secondes', 'centile_Secondes', 'Rentabilite_possessions_equipe', 'centile_Rentabilite_possessions_equipe', 'Rentabilite_possessions_opp', 'centile_Rentabilite_possessions_opp', 'Differentiel_rentabilite_possessions', 'centile_Differentiel_rentabilite_possessions', 'Rentabilite_temps_equipe', 'centile_Rentabilite_temps_equipe', 'Rentabilite_temps_opp', 'centile_Rentabilite_temps_opp', 'Differentiel_rentabilite_temps', 'centile_Differentiel_rentabilite_temps', 'True_Shooting_%_equipe', 'centile_True_Shooting_%_equipe', 'True_Shooting_%_opp', 'centile_True_Shooting_%_opp', 'Differentiel_True_Shooting_%', 'centile_Differentiel_True_Shooting_%', 'Pts_Tirs_Tentes_equipe', 'centile_Pts_Tirs_Tentes_equipe', 'Pts_Tirs_Tentes_opp', 'centile_Pts_Tirs_Tentes_opp', 'Differentiel_Pts_Tirs_Tentes', 'centile_Differentiel_Pts_Tirs_Tentes', 'Color']

In [63]:
data = pd.read_csv("C:/Users/angel/Downloads/analyse_lineups_azad/lineups_rentabilite_1301.csv")
data.rename(columns={
    "True_Shooting_equipe_%": "True_Shooting_%_equipe",
    "centile_True_Shooting_equipe_%": "centile_True_Shooting_%_equipe"
}, inplace=True)
data.to_csv("C:/Users/angel/Downloads/analyse_lineups_azad/lineups_rentabilite_1301_clean.csv", index=False)

#### filtrage temporel par minutes jouées

*changer le format de la colonne minutes pour qu'elle soit au format timedelta et que l'on puisse générer un slider*

In [40]:
data = pd.read_csv("C:/Users/angel/Downloads/analyse_lineups_azad/lineups_rentabilite_1301.csv")
#data.info()

In [35]:
data['Minutes']

0      34:33
1      34:01
2      23:01
3      21:08
4      19:00
       ...
199    17:33
200    15:36
201    14:42
202    11:42
203    10:45
Name: Minutes, Length: 204, dtype: object

In [59]:
data = pd.read_csv("C:/Users/angel/Downloads/analyse_lineups_azad/lineups_rentabilite_1301_clean.csv")
data["minutes_filtre"] = pd.to_timedelta("00:" +data["Minutes"])
display(data[["Minutes", "minutes_filtre"]])
data[["Minutes", "minutes_filtre"]].dtypes

    Minutes  minutes_filtre
0     34:33 0 days 00:34:33
1     34:01 0 days 00:34:01
2     23:01 0 days 00:23:01
3     21:08 0 days 00:21:08
4     19:00 0 days 00:19:00
..      ...             ...
199   17:33 0 days 00:17:33
200   15:36 0 days 00:15:36
201   14:42 0 days 00:14:42
202   11:42 0 days 00:11:42
203   10:45 0 days 00:10:45

[204 rows x 2 columns]

Minutes                    object
minutes_filtre    timedelta64[ns]
dtype: object

In [44]:
data[["Minutes","formatted_minutes"]].dtypes

Minutes              timedelta64[ns]
formatted_minutes             object
dtype: object

In [38]:
# Formatage en %H:%M:%S
data["formatted_minutes"] = data["Minutes"].apply(lambda x: str(x).split("days")[-1].strip())
data[["Minutes","formatted_minutes"]]

            Minutes formatted_minutes
0   0 days 00:34:33          00:34:33
1   0 days 00:34:01          00:34:01
2   0 days 00:23:01          00:23:01
3   0 days 00:21:08          00:21:08
4   0 days 00:19:00          00:19:00
..              ...               ...
199 0 days 00:17:33          00:17:33
200 0 days 00:15:36          00:15:36
201 0 days 00:14:42          00:14:42
202 0 days 00:11:42          00:11:42
203 0 days 00:10:45          00:10:45

[204 rows x 2 columns]

In [64]:
data = pd.read_csv("C:/Users/angel/Downloads/analyse_lineups_azad/lineups_rentabilite_1301_clean.csv")
print(data.shape)
data["minutes_filtre"] = pd.to_timedelta("00:" +data["Minutes"])
print(data.shape)
data.to_csv("C:/Users/angel/Downloads/analyse_lineups_azad/lineups_rentabilite_1301_clean.csv", index=False)

(204, 89)
(204, 90)

In [65]:
data = pd.read_csv("C:/Users/angel/Downloads/analyse_lineups_azad/lineups_rentabilite_1301_clean.csv")
print(data.shape)

(204, 90)

In [ ]:
def create_team_filters(data):
    """
    Fonction pour créer des filtres relatifs aux équipes, aux joueurs et aux données filtrées.
    """
    # Sélection des équipes
    team_name = st.sidebar.selectbox("Équipe de référence", data["Equipe"].unique())
    opponent_name = st.sidebar.selectbox("Équipe adverse", [team for team in data["Equipe"].unique() if team != team_name])

    # Filtrage des joueurs en fonction de l'équipe sélectionnée
    team_data = data[data["Equipe"] == team_name]
    opponent_data = data[data["Equipe"] == opponent_name]

    # Récupérer la liste des joueurs pour chaque équipe
    def extract_unique_players(df):
        players = set(
            df["Player_1_name"].tolist() +
            df["Player_2_name"].tolist() +
            df["Player_3_name"].tolist() +
            df["Player_4_name"].tolist() +
            df["Player_5_name"].tolist()
        )
        return sorted([player for player in players if pd.notnull(player)])

    team_players = extract_unique_players(team_data)
    opponent_players = extract_unique_players(opponent_data)

    # Filtre des joueurs
    player_filter_team = st.sidebar.multiselect("Joueurs de l'équipe de référence", team_players)
    player_filter_opponent = st.sidebar.multiselect("Joueurs de l'équipe adverse", opponent_players)

    # Filtrage des données des joueurs sélectionnés (que pour les heatmap)
    if player_filter_team:
        team_data_filtered = team_data[team_data["Player_1_name"].isin(player_filter_team) |
                                       team_data["Player_2_name"].isin(player_filter_team) |
                                       team_data["Player_3_name"].isin(player_filter_team) |
                                       team_data["Player_4_name"].isin(player_filter_team) |
                                       team_data["Player_5_name"].isin(player_filter_team)]
    else:
        team_data_filtered = team_data  # on prévoit les cas où monsieur basket ne filtre pas les joueurs 

    if player_filter_opponent:
        opponent_data_filtered = opponent_data[opponent_data["Player_1_name"].isin(player_filter_opponent) |
                                                opponent_data["Player_2_name"].isin(player_filter_opponent) |
                                                opponent_data["Player_3_name"].isin(player_filter_opponent) |
                                                opponent_data["Player_4_name"].isin(player_filter_opponent) |
                                                opponent_data["Player_5_name"].isin(player_filter_opponent)]
    else:
        opponent_data_filtered = opponent_data  # on prévoit les cas où monsieur basket ne filtre pas les joueurs 

    return team_name, opponent_name, player_filter_team, player_filter_opponent, team_data_filtered, opponent_data_filtered

In [ ]:
def filters(data):
    """
    Crée les filtres pour la sélection de l'équipe, de l'équipe adverse, et des joueurs.
    
    :param data: Le DataFrame contenant toutes les données.
    :return: Les filtres appliqués et les équipes sélectionnées.
    """
    # Sélection des équipes
    team_name = st.sidebar.selectbox("Équipe de référence", data["Equipe"].unique())
    opponent_name = st.sidebar.selectbox("Équipe adverse", [team for team in data["Equipe"].unique() if team != team_name])
    
    # Récupérer la liste des joueurs pour chaque équipe
    def extract_unique_players(df):
        players = set(
            df["Player_1_name"].tolist() +
            df["Player_2_name"].tolist() +
            df["Player_3_name"].tolist() +
            df["Player_4_name"].tolist() +
            df["Player_5_name"].tolist()
        )
        return sorted([player for player in players if pd.notnull(player)])

    team_players = extract_unique_players(data[data["Equipe"] == team_name])
    opponent_players = extract_unique_players(data[data["Equipe"] == opponent_name])

    # Sélection des joueurs à filtrer
    player_filter_team = st.sidebar.multiselect("Joueurs de l'équipe de référence", team_players)
    player_filter_opponent = st.sidebar.multiselect("Joueurs de l'équipe adverse", opponent_players)

    return team_name, opponent_name, player_filter_team, player_filter_opponent

In [ ]:
team_data, opponent_data
team_players, opponent_players 

team_name, opponent_name, 
player_filter_team, player_filter_opponent, 
team_data_filtered, opponent_data_filtered

In [ ]:
import streamlit as st
import pandas as pd

# Exemple de données
data = {"minutes": ["13:35", "45:20", "120:00", "5:15"]}
df = pd.DataFrame(data)

# Conversion en timedelta
df["minutes"] = pd.to_timedelta("00:" + df["minutes"])
df["formatted_minutes"] = df["minutes"].apply(lambda x: str(x)[-8:])  # Format H:M:S

# Slider pour filtrer les minutes
min_time = df["minutes"].min()
max_time = df["minutes"].max()
selected_time = st.slider("Filtre des minutes jouées", min_value=min_time, max_value=max_time, value=(min_time, max_time))

# Filtrer les données
filtered_df = df[(df["minutes"] >= selected_time[0]) & (df["minutes"] <= selected_time[1])]

# Afficher les données filtrées
st.write(filtered_df[["formatted_minutes"]])